/* css/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0F0F0F;
    padding: 0;
}

.container {
    max-width: 100vh;
    max-height: 72vh;
    margin: 25px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chat-history {
    max-height: 50vh;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #232D3F;
}
#chat-history::-webkit-scrollbar {
    width: 0.5em;
}

#chat-history::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
/* New styles for user and bot messages */
.user-message {
    text-align: right;
    background-color: #3498db; /* Blue color for user messages */
    color: white;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bot-message {
    text-align: left;
    background-color: #2ecc71; /* Green color for bot messages */
    color: white;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 8px;
}
.err-message {
    text-align: left;
    background-color: #ff0000; /* Green color for bot messages */
    color: black;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 8px;
}

form {
    display: flex;
    gap: 10px;
}

label {
    flex-shrink: 0;
    width: 100px;
}

input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:focus {
    outline: none;
}

button:active {
    transform: translateY(1px);
}

button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#response {
    font-weight: bold;
    margin-top: 10px;
}
