{% extends 'base.html' %}
{%load static%}
{% block title %}Helper Page{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/helper.css' %}">

    <div class="container">
        <h2>Helping Lives !! Welcome, {{ session.userinfo.name }}!</h2>
        <div class = "insider">
        <div id="user-list-container">
            <!-- User names will be loaded here -->
        </div>
        <div id="chat-history">
            <!-- Chat history will be displayed here -->
        </div>
    </div>
        <form id="messageForm">
            {% csrf_token %}
            <label for="message">Enter the character </label>
            <input type="text" id="message" name="message" required>
            <button type="button" onclick="sendReply()">Send</button>
        </form>
        <p id="response"></p>
    </div>
    
    <script src="{% static 'js/helper.js' %}"></script>
{% endblock %}
